.container{
    margin: 30px 15px;
    border: 1px solid gray;
    color:black;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    position: relative;
}

.note-content{
    padding: 5px;
    /* width: 30%; */
}

.icon-trash{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #F3B80D;
}